<h1>Editing databreach</h1>

<%= render "form", databreach: @databreach %>

<br>

<div>
  <%= link_to "Show this databreach", @databreach %> |
  <%= link_to "Back to databreaches", databreaches_path %>
</div>
