<!--<%#= javascript_include_tag('controllers/find_org') %>>-->
<%# content_for :javascript_includes do %>
  <%#= javascript_include_tag "find_org.js" %>
<%# end %>
<h3>New method</h3>
HERE
<!--<p><%#= @organisations %></p>-->

OTHER STUFF
<p><%= @results %></p>

