<!--<%#= javascript_include_tag('controllers/find_organisation') %>>-->
<%# content_for :javascript_includes do %>
  <%#= javascript_include_tag "find_organisation.js" %>
<%# end %>
<h3>New method</h3>
<p><%= @results %></p>

<%= line_chart [["2021-01-01", 2], ["2021-01-02", 3]] %>
<%= pie_chart Databreach.group(:sector).count %>

